<h2>{{ name }}</h2>

<dl>
    <td>Name:</td>
    <dd>{{ name }}</dd>

    <td>Age:</td>
    <dd>{{ age }}</dd>

    <td>Description:</td>
    <dd>{{ getHeroDescription() }}</dd>

    <td>Capitalized:</td>
    <dd>{{ capitalizedName }}</dd>
</dl>

<button *ngIf="(name === 'Ironman')" class="btn btn-primary" (click)="changeName()">
    Change Name
</button>

<button *ngIf="(age === 45)" class="btn btn-primary" (click)="changeAge()">
    Change Age
</button>

<button *ngIf="(name !== 'Ironman') || (age !== 45)" class="btn btn-danger" (click)="reset()">Reset</button>

